@charset "UTF-8";

body,
html {
    position: relative;
}

/* アニメーション要素 */
.test {
    display: flex;
    height: 100vh;
}

.elm1 {
    /* display: inline-block; */
    height: 0px;
    width: 50%;
    background-color: rgb(255, 213, 74);
    animation-name: el1Anime;
    animation-duration: 1800ms;
    animation-delay: 400ms;
    animation-fill-mode: forwards;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
    word-break: break-word;
    position: absolute;
    z-index: 100;
}

.elm2 {
    animation-delay: 1000ms;
    /* display: inline-block; */
    height: 0px;
    width: 50%;
    background-color: #D7BBFF;
    animation-fill-mode: forwards;
    animation-name: el2Anime;
    animation-duration: 2500ms;
    vertical-align: top;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
    word-break: break-word;
    position: absolute;
    left: 50%;
    z-index: 100;
}


.elm3 {
    animation-name: el3Anime;
    width: 100%;
    border-top: 4px #474747 solid;
    display: block;
    animation-delay: 1800ms;
    animation-duration: 4000ms;
    opacity: 0;
    animation-fill-mode: forwards;
    padding: 40px;
}

.heading-anim {
    position: absolute;
    z-index: 200;
    top: 5%;
    left: 0px;
    color: #FFFFFF;
    animation-name: itemAnime;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: 2400ms;
    animation-delay: 2400ms;
    animation-fill-mode: forwards;
    opacity: 0;
    text-align: center;
}

.anim-img {
    max-width: 100%;
}


​ 
/* アニメーション要素内アイテム */
.elm1 .heading {
    color: #FFFFFF;
    animation-name: itemAnime;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: 2400ms;
    animation-delay: 2400ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.elm2 .text {
    color: #181818;
    animation-name: itemAnime;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: 2400ms;
    animation-delay: 2400ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* アニメーション */
@keyframes el2Anime {
    from {
        height: 0px;
    }

    to {
        height: 100vh;
        padding: 30px;
        display: none;
    }
}

@keyframes el1Anime {
    from {
        height: 0px;
    }

    to {
        height: 100vh;
        padding: 30px;
        display: none;
    }
}

@keyframes el3Anime {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes itemAnime {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.scroll-button {
    position: absolute;
    top: 37%;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-decoration: none;
    z-index: 600;
    padding-top: 80px;
    animation-name: itemAnime;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: 2400ms;
    animation-delay: 2400ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.scroll-button span {
    position: absolute;
    top: 0;
    left: 80%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 6px solid rgb(255, 255, 255);
    border-bottom: 6px solid rgb(255, 255, 255);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}

.scroll-button span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.scroll-button span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}

.scroll-button span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

@-webkit-keyframes sdb {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes sdb {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}