@charset "UTF-8";


header>.tw-icon>svg {
    height: 30px;
    margin: 0 auto;
    display: block;
    fill: #ffab00;
}

.story-link>img {
    border-radius: 94%;
    border: 4px solid #03dcff;
    height: 74px;
    width: 74px;
}

.story-link {
    width: 100px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}
