@charset "UTF-8";

body,
html {
    font-family: apple-system, Segoe UI, Helvetica Neue, Hiragino Kaku Gothic ProN, "メイリオ", meiryo, sans-serif;
}

header>.tw-icon>img {
    height: 40px;
    margin: 0 auto;
    display: block;

}

.stories-wrap {
    padding: 0 10px;
}

.story-link>img {
    border-radius: 94%;
    border: 4px solid #6dda42;
    height: 45px;
    width: 45px;
}

.story-link {
    width: 45px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.story-name {
    font-size: 10px;
    color: #616161;
    vertical-align: top;
}

.tweet-wrap {
    border-top: 0.5px solid #d3d3d3da;
    padding-bottom: 54px;
}

.tweet-content {
    display: flex;
    padding: 5px 5px 5px 13px;
}

.tweet-content+.tweet-content {
    border-top: 0.5px solid #d3d3d3da;
}

.tweet-main-wrap {
    width: 100%;
    margin-left: 10px;
}


.tweet-user-img {
    border-radius: 50%;
    height: 50px;
}

.tweet-text {
    margin: 5px 0;
    font-size: 15px;
}

.tweet-icon-wrap {
    display: flex;
}

/* 
.tweet-user-info{
    max-width: 70vw;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} */

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
    padding: 10px 7%;
    box-sizing: border-box;
    border-top: 0.5px solid #d3d3d3da;
    background-color: #fff;
}

.footer-icon>svg {
    height: 30px;
    fill: #616161;
}

.footer-icon>svg.isActive {
    height: 30px;
    fill: #ff9900;
}

.tweet-username {
    font-weight: bold;
    display: inline-block;
    margin-right: 4px;
    font-size: 16px;
}

.tweet-userid,
.tweet-time {
    font-weight: normal;
    color: #616161;
    font-size: 15px;
}

.tweet-icon-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-right: 70px;
}

.tweet-icon-wrap svg {
    height: 15px;
    fill: #8c8c8c;
}

.tweet-icon-wrap span {
    vertical-align: top;
    color: #616161;
    font-size: 14px;

}