@charset "UTF-8";

body,
html {
    font-family: 'Kosugi Maru', sans-serif;
}

header {
    padding: 10px;
}


header>.tw-icon>svg {
    height: 30px;
    margin: 0 auto;
    display: block;
    fill: #ffab00;
}

.stories-wrap {
    padding: 0 10px;
}

.story-link>img {
    border-radius: 94%;
    border: 4px solid #03dcff;
    height: 55px;
    width: 55px;
}

.story-link {
    width: 55px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.story-name {
    font-size: 10px;
    color: #616161;
    vertical-align: top;
}

.tweet-wrap {
    border-top: 0.5px solid #d3d3d3da;
    padding-bottom: 54px;
}

.tweet-content {
    display: flex;
    padding: 5px 10px;
}

.tweet-content+.tweet-content {
    border-top: 0.5px solid #d3d3d3da;
}

.tweet-main-wrap {
    width: 100%;
}


.tweet-user-img {
    border-radius: 50%;
    height: 60px;
}

.tweet-icon-wrap {
    display: flex;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
    padding: 10px 7%;
    box-sizing: border-box;
    border-top: 0.5px solid #d3d3d3da;
    background-color: #fff;
}

.footer-icon>svg {
    height: 30px;
    fill: #616161;
}