<!DOCTYPE html>
<html lang="ja">

<head>

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="img/favicon.ico" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css?ver=2.2.2" />

        <title>女神さまのお部屋</title>
    </head>
</head>

<body>
    作成中ですa🚧
    <header>
        <span>女神様へのお願いを送信</span>
    </header>

    <div id="app-3">
        <span v-if="seen">Now you see me</span>
    </div>
    <div class="search-box-wrap" id="app-5">
        <input v-model="inputName" class type="text" placeholder="name">
        <textarea v-model="inputMassage" name="massage" id="massage" cols="30" rows="10"
            placeholder="女神様へのお願い事"></textarea>
        <button class="send-massage" v-on:click="reverseMessage">送信</button>
        <button class="send-massage" v-on:click="viewMessage">確認</button>
        <h2>みんなから女神様へのメッセージ</h2>
        <ol>
            <li v-for="massages in dbInfo">
                {{ massages }}
            </li>
        </ol>
    </div>
    <footer class="footer">
        <a class="footer-icon" href="index.html"><svg viewBox="0 0 24 24"
                class="r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr">
                <g>
                    <path
                        d="M22.46 7.57L12.357 2.115c-.223-.12-.49-.12-.713 0L1.543 7.57c-.364.197-.5.652-.303 1.017.135.25.394.393.66.393.12 0 .243-.03.356-.09l.815-.44L4.7 19.963c.214 1.215 1.308 2.062 2.658 2.062h9.282c1.352 0 2.445-.848 2.663-2.087l1.626-11.49.818.442c.364.193.82.06 1.017-.304.196-.363.06-.818-.304-1.016zm-4.638 12.133c-.107.606-.703.822-1.18.822H7.36c-.48 0-1.075-.216-1.178-.798L4.48 7.69 12 3.628l7.522 4.06-1.7 12.015z">
                    </path>
                    <path
                        d="M8.22 12.184c0 2.084 1.695 3.78 3.78 3.78s3.78-1.696 3.78-3.78-1.695-3.78-3.78-3.78-3.78 1.696-3.78 3.78zm6.06 0c0 1.258-1.022 2.28-2.28 2.28s-2.28-1.022-2.28-2.28 1.022-2.28 2.28-2.28 2.28 1.022 2.28 2.28z">
                    </path>
                </g>
            </svg></a>
        <a class="footer-icon" href="questions.html"><svg viewBox="0 0 24 24"
                class="r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr">
                <g>
                    <path
                        d="M21.697 16.468c-.02-.016-2.14-1.64-2.103-6.03.02-2.532-.812-4.782-2.347-6.335C15.872 2.71 14.01 1.94 12.005 1.93h-.013c-2.004.01-3.866.78-5.242 2.174-1.534 1.553-2.368 3.802-2.346 6.334.037 4.33-2.02 5.967-2.102 6.03-.26.193-.366.53-.265.838.102.308.39.515.712.515h4.92c.102 2.31 1.997 4.16 4.33 4.16s4.226-1.85 4.327-4.16h4.922c.322 0 .61-.206.71-.514.103-.307-.003-.645-.263-.838zM12 20.478c-1.505 0-2.73-1.177-2.828-2.658h5.656c-.1 1.48-1.323 2.66-2.828 2.66zM4.38 16.32c.74-1.132 1.548-3.028 1.524-5.896-.018-2.16.644-3.982 1.913-5.267C8.91 4.05 10.397 3.437 12 3.43c1.603.008 3.087.62 4.18 1.728 1.27 1.285 1.933 3.106 1.915 5.267-.024 2.868.785 4.765 1.525 5.896H4.38z">
                    </path>
                </g>
            </svg></a>
        <a class="footer-icon" href="dm.html"><svg viewBox="0 0 24 24"
                class="isActive r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr">
                <g>
                    <path
                        d="M19.25 3.018H4.75C3.233 3.018 2 4.252 2 5.77v12.495c0 1.518 1.233 2.753 2.75 2.753h14.5c1.517 0 2.75-1.235 2.75-2.753V5.77c0-1.518-1.233-2.752-2.75-2.752zm-14.5 1.5h14.5c.69 0 1.25.56 1.25 1.25v.714l-8.05 5.367c-.273.18-.626.182-.9-.002L3.5 6.482v-.714c0-.69.56-1.25 1.25-1.25zm14.5 14.998H4.75c-.69 0-1.25-.56-1.25-1.25V8.24l7.24 4.83c.383.256.822.384 1.26.384.44 0 .877-.128 1.26-.383l7.24-4.83v10.022c0 .69-.56 1.25-1.25 1.25z">
                    </path>
                </g>
            </svg></a>
        <a class="footer-icon" href="profile.html"><svg viewBox="0 0 24 24"
                class="r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr">
                <g>
                    <path
                        d="M12 11.816c1.355 0 2.872-.15 3.84-1.256.814-.93 1.078-2.368.806-4.392-.38-2.825-2.117-4.512-4.646-4.512S7.734 3.343 7.354 6.17c-.272 2.022-.008 3.46.806 4.39.968 1.107 2.485 1.256 3.84 1.256zM8.84 6.368c.162-1.2.787-3.212 3.16-3.212s2.998 2.013 3.16 3.212c.207 1.55.057 2.627-.45 3.205-.455.52-1.266.743-2.71.743s-2.255-.223-2.71-.743c-.507-.578-.657-1.656-.45-3.205zm11.44 12.868c-.877-3.526-4.282-5.99-8.28-5.99s-7.403 2.464-8.28 5.99c-.172.692-.028 1.4.395 1.94.408.52 1.04.82 1.733.82h12.304c.693 0 1.325-.3 1.733-.82.424-.54.567-1.247.394-1.94zm-1.576 1.016c-.126.16-.316.246-.552.246H5.848c-.235 0-.426-.085-.552-.246-.137-.174-.18-.412-.12-.654.71-2.855 3.517-4.85 6.824-4.85s6.114 1.994 6.824 4.85c.06.242.017.48-.12.654z">
                    </path>
                </g>
            </svg></a>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-firestore.js"></script>
    <script>
        var firebaseConfig = {
            apiKey: "AIzaSyCcq_-Ro_wESeooGZkDPL_GPSChhtVLZXo",
            authDomain: "megamiweb.firebaseapp.com",
            projectId: "megamiweb",
            storageBucket: "megamiweb.appspot.com",
            messagingSenderId: "386766137831",
            appId: "1:386766137831:web:c78e9b3d52f7a691cfb542",
            measurementId: "G-HJMYC6GQKG"
        };
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();

        //fireStoreの初期化
        var db = firebase.firestore();
        var app5 = new Vue({
            el: '#app-5',
            data: {
                dbInfo: [],
                nextNo:0,
                //入力名
                inputName: "",
                //女神様へのメッセージ
                inputMassage: ""
            },
            methods: {
                //女神さまへのメッセージ送信処理
                reverseMessage: function () {
                    let _self = this;
                    db.collection("paint_requests").add({
                        no:this.nextNo,
                        userName: this.inputName,
                        massage: this.inputMassage,
                    })
                        .then(function (docRef) {
                            console.log("Document written with ID: ", docRef.id);
                            //送信完了後に画面のメッセージ再取得
                            _self.viewMessage();
                        })
                        .catch(function (error) {
                            console.error("Error adding document: ", error);
                        });
                },
                //女神様へのメッセージをfireStoreから取得し画面表示
                viewMessage: function () {
                    this.dbInfo = [];
                    this.getDataSize();
                    db.collection("paint_requests").get().then((querySnapshot) => {
                        querySnapshot.forEach((doc) => {
                            this.dbInfo.push(doc.data());
                            console.log(this.dbInfo)
                        });
                    });
                },
                // commentsコレクションの全データ件数を獲得しlengthに保存
                getDataSize: function() {
                    let _self = this;
                    db.collection('paint_requests').get().then(snap => {
                        _self.nextNo = snap.size +1// will return the collection size
                    });
                }
            },
            mounted: function () {
                //画面ロード時にメッセージ取得
                this.$nextTick(function () {
                    this.viewMessage();
                })
            }
        })
    </script>
</body>

</html>